button.btn.btn-success.my-2.my-sm-0 {
    margin-left: -10px;
}
.bg-danger {
	background-color: #a70836 !important
}
button, input{
	border-radius: 0px !important;
}
input.form-control.mr-sm-2 {
    width: 300px;
}
.navbar-dark .navbar-nav .nav-link {
    color: rgb(255 255 255);
    font-weight: 600;
}
.navbar-dark .navbar-toggler {
    color: white;
    transform: rotate(0deg);
}
.navbar-toggler:hover {
	transform: rotate(180deg);
}
nav.navbar.navbar-expand-lg.navbar-light.bg-light.container {
    font-weight: 600;
}
.modal-content {
	border-radius: 0;
	border: 0;
}
.modal-footer {
	border-radius: 0;
	border: 0;
}
.btn {
	border-radius: 0;
}
.modal-body {
	text-transform: capitalize;
}
.modal-body a {
	margin-top: 4px;
}
.navbar-light .navbar-toggler {
    color: rgb(0 0 0);
    border-color: none;
    margin-left: auto;
}
.navbar-toggler {
	border: 0;
    transition: 0.4s;
}
.navbar-toggler:focus {
	outline: none;
	border: none;
}
.rt {
	margin-top: 9px;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}
.section {
	margin: 9px 0;
}
.img-thumbnail {
	border-radius: 0;
}
.p-none {
	padding: 0 !important;
}
.label {
	margin-bottom: 12px;
}
.label h1,h2,h3,h4,h5,h6{
	font-weight: 600;
	text-transform: uppercase;
	height: 100%;
	background-color: white;
	display: inline;
	padding: 5px;
}
.garis {
	height: 3px;
	background-color: #a70836 !important;
	margin-top: -15px;
}
.image {
	position: relative;
	z-index: 1;
}
.rate {
    background-color: #0000008a;
    padding: 2px;
    top: 0;
    position: absolute;
    z-index: 999;
    color: white;
}
.rate span{
	margin: 0 6px;
	font-size: 0.8rem;
}
.rate span svg {
	margin-top: -5px;
	margin-right: 5px;
	color: yellow;
}
.kump {
	display: grid;
	grid-gap: 15px;
	grid-template-columns: repeat(auto-fill, 150px);
}
.dua-kump {
	justify-content: center;
} 
.durasi span {
	margin: 0 6px;
	font-size: 0.8rem;
}
.durasi span svg {
	margin-top: -3px;
}
.durasi {
    background-color: #0000008a;
    padding: 2px;
    bottom: 0;
    position: absolute;
    z-index: 999;
    color: white;
    right: 0;
}
.prop {
	padding: 2px;
}
.carousel-indicators li {
	background-color: #a70836 !important;
}
.bi-chevron-double-left {
	transition: 0.4s;
    color: red;
    font-size: 2rem;
}
.carousel-control-prev:hover .bi-chevron-double-left {
	margin-right: 12px;
    font-size: 2rem;
}
.bi-chevron-double-right {
	transition: 0.4s;
    color: red;
    font-size: 2rem;
}
.carousel-control-next:hover .bi-chevron-double-right {
	margin-left: 12px;
    font-size: 2rem;
}
@media ( max-width: 640px ) {
	button.btn.btn-success.my-2.my-sm-0 {
	    margin-left: -10px;
	    display: none;
	}
	.kump {
		justify-content: center;
		grid-gap: 11px;
	}
	input.form-control.mr-sm-2 {
		width: 100%;
	}
	a.nav-link {
	    text-align: center;
	    background: #e80748;
	    margin-top: 1px;
	}
	.navbar-light .navbar-nav .nav-link {
	    color: rgb(255 255 255);
	}
	.navbar-dark .navbar-nav .nav-link {
	    color: rgb(255 255 255);
	    font-weight: 600;
	    background-color: #e80748;
	    text-align: center;
	}
}