@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;400;500;600;700&display=swap');
* {
    font-family: 'Lexend Deca', sans-serif;
    color: #fff;
    transition: 0.4s;
}
body {
    overflow-x: hidden;
}

/* header */
.scroll-true {
    padding: 12px 22px !important;
    width: 100vw !important;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.wrp-header {
    width: 90vw;
    margin: auto;
    padding: 22px;
    background-color: rgba(var(--bs-dark-rgb),var(--bs-bg-opacity))!important;
}
.b-header {
    display: flex;
    width: 100%;
    align-content: center;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.b-header .list a {
    margin: 0 5px;
    color: #fff;
    text-decoration: none;
    padding: 12px 22px;
}
.b-header .list a:hover {
    color: #000;
    background-color: #fff;
}

/* introduction */
.introduction {
    height: 100vh;
    width: 60vw;
    margin: auto;
    display: grid;
    justify-content: center;
    text-align: center;
    align-content: center;
    align-items: center;
    justify-items: center;
}
.introduction span {
    /* font-style: italic; */
    font-size: 1.3rem;
    color: rgba(255, 255, 255, 0.698);
    font-weight: 300;
}
.section {
    height: 100vh;
    width: 80vw;
    margin: auto;
}
.card {
    border-top-right-radius: 60px !important;
    border-bottom-left-radius: 60px !important;
}
.skills {
    margin-right: 12px;
    display: flex;
    flex-wrap: wrap;
}
.skills div img {
    margin: 5px 0;
    border-radius: 6px;
}
.skills div img:hover {
    transform: scale(1.2);
}

/* sosmed */
.sosmed a {
    margin-right: 32px;
    
}
.sosmed a svg {
    transform: scale(2);
}
.sosmed a:hover {
    transform: scale(0.7);
}
.section.max {
    width: 100vw;
    height: 80vh;
    background-color: rgb(205, 199, 255);
}
.section.max * {
    color: #000 !important;
}

/* portofolio */
.portofolio {
    padding: 12px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
}
.portofolio .img {
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 20px;
    height: 70vh;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 7px;
}
.portofolio .img img {
    height: 70vh;
}
.portofolio .description {
    padding: 20px;
    width: 60vw;
}
.section.max .carousel-inner {
    height: 80vh;
}
.carousel button span {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.519);
}

@media screen and ( max-width: 680px ) {
    .portofolio {
        display: block;
    }
    .portofolio .description {
        padding: 20px;
        width: auto !important;
        height: 76vh;
        overflow: auto;
    }
    .portofolio .img {
        display: none;
    }
    .wrp-header {
        width: 100vw;
    }
    .b-header {
        display: grid !important;
        text-align: center;
        align-content: center;
        align-items: center;
        justify-items: center;
        justify-content: center;
    }
    .b-header .list {
        display: flex;
        justify-content: space-around;
        overflow: auto;
        white-space: nowrap;
        align-items: center;
        width: 100vw;
    }
    .introduction {
        width: 100vw;
    }
    .introduction .display-1 {
        font-size: 1.6rem;
    }
    .introduction span {
        font-size: 1rem;
    }
}