.navbar-nav {
    display: flex;
    gap: 5px;
}
.nav-link:hover {
    border: 1px solid transparent !important;
    background-color: var(--bs-indigo);
    color: var(--bs-white);
}
.nav-link {
    border: 1px solid black;
    border-radius: 6px;
    padding: 4px;
}
#carouselExample {
    width: 50%;
}
.carousel-inner img {
    width: 60%;
    height: 240px; /* Set a fixed height */
    object-fit: cover; /* Maintain aspect ratio and cover the area */
    object-position: top;
}
p {
    text-align: justify;
}
@media screen and (max-width: 780px) {
    .navbar-nav {
        margin-top: 12px;
    }
    #carouselExample {
        width: 100%;
    }
}