@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap');
/* web */
*{
    transition: 0.4s;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Montserrat', sans-serif;
}

/* header */
.wrp-header {
    width: 100%;
    margin: auto;
    padding: 12px 38px;
}
.wrp-header .b-header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.wrp-header .list a {
    padding: 7px 12px;
    text-decoration: none;
    color: #000;
    margin: 0 5px;
}
.wrp-header .list a:hover {
    background-color: #000;
    color: #fff;
}

/* intro */
.intro {
    height: 40vh;
    display: grid;
    justify-content: center;
    align-items: center;
}


/* blog content */
.section {
    margin-top: 32px;
}
.body-content .posts{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 12px;
}
.body-content .card:hover > .card-header {
    opacity: 0;
}
.body-content .card:hover > .card-body {
    opacity: 1;
    top: 0px;
    z-index: 998999;
}
.body-content .card {
    border-radius: 12px !important;
    border: none !important;
}
.body-content .card .card-header {
    background-color: transparent !important;
    border: 0;
}
.body-content .card .card-header h4,
.body-content .card .card-body p {
    padding: 4px 12px !important;
}
.body-content .card .card-header,
.body-content .card .card-body {
    position: relative;
    z-index: 9999;
}
.body-content .card .card-body {
    z-index: -9999;
    opacity: 0;
    background-color: rgba(255, 255, 255) !important;
    position: absolute;
    top: -92px;
}
.body-content .card .image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    /* image style */
    border-radius: 5px !important;

    /* image pos */
    background-position: center;
    opacity: 0.4;
}
.body-content a {
    text-decoration: none !important;
    color: #000;
}
.post-image {
    min-height: 90px;
}

/* blog post */
#Blog1 {
    margin-bottom: 59px;
}
.post-title {
    font-size: 2.4rem !important;
}
.date-header {
    font-size: 0.8rem;
    color: rgba(73, 73, 73, 0.603);
}
.separator a {
    margin: 0 !important;
    display: block;
    max-height: 490px;
    overflow: hidden;
}
.post-body,
.post-title,
.date-header
{
    border-radius: 6px;
    
    
    box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
    /* box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px; */
    padding: 27px;
}

.comments {
    padding: 18px;
    border-radius: 5px;
    
    
    box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
    /* box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px; */
}
.post-footer-line.post-footer-line-1 {
    margin: 12px 12px 12px 0;
}
.post-footer-line.post-footer-line-1 .post-icons a{
    display: inline-flex;
    align-items: center;
    
    box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
    border-radius: 6px;
    justify-content: center;
    padding: 12px;
    margin: 0 !important;
}
.post-feeds {
    display: none !important;
}
.blog-pager{
    border-radius: 6px;
    margin: 22px 0;
    
    box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
    padding: 17px;
    
    /* position */
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
.blog-pager span {
    text-transform: uppercase;
    font-weight: 600;
}
.blog-pager .home-link {
    display: none !important;
}

span.post-labels a {
    display: inline-block;
    padding: 12px;
    border-radius: 7px;
    
    box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
    /* box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px; */
    background-color: white;
    margin-right: 10px;
    margin-top: 12px;
}

span#blog-pager-older-link::after {
    content: ">>";
}

span#blog-pager-newer-link::before {
    content: "<<";
}

/* sidebar */
.sidebar .card {
    
    box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
    border: none !important;
    border-radius: 7px;
}
.sidebar .card-header {
    background-color: #fff;
    border: none !important;
    margin-top: 12px;
}
.widget h2 {
    border-bottom: 4px solid #f3c7b385;
}
.widget-content.list-label-widget-content ul {
    list-style: none;
    display: grid;
    padding: 0;
}
.widget-content.list-label-widget-content ul li {
    padding: 4px 15px;
    border-radius: 6px;
    background-color: #e1dcf59e;
    margin-right: 12px;
    margin-bottom: 12px;
    font-weight: 500;
}
.widget-content.list-label-widget-content ul li a {
    color: #000;
    text-decoration: none;
    display: block;
}

/* comments */
ol#top-ra {
    padding: 12px;
    border-radius: 12px;
}
ol#top-ra .comment {
    background: #f2f2f2b0;
    padding: 10px 11px;
    border-radius: 12px;
}
.avatar-image-container {
    border-radius: 40px;
}
.comments .comment .comment-actions a {
    border-radius: 3px;
    padding: 3px 25px;
    background-color: #ffe4ad;
    margin-right: 12px;
    
    box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
    /* box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px; */
}
.comments .comment-replybox-single iframe {
    border-radius: 12px;
    margin-bottom: 22px;
}
.author-profile {
    padding: 12px;
    
    box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
    /* box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px; */
    border-radius: 11px;
}
.author-profile img {
    border: 1px solid #efefef;
    float: left;
    margin-right: 5px;
    border-radius: 12px;
}
a.g-profile {
    font-size: 1.2rem;
    font-weight: bold;
}
.comments .comments-content .datetime {
    margin-left: 6px;
    display: none;
}


/* responsive design */
@media screen and ( max-width: 680px) {
    span.post-labels a {
        margin-top: 12px;
    }
    .wrp-header .b-header {
        display: flex;
        width: 100%;
        align-items: center;
        flex-direction: column;
    }
    .list {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .body-content .posts {
        display: flex;
        grid-gap: 29px;
        flex-direction: column;
    }
    .body-content .card .card-header, .body-content .card .card-body {
        position: relative;
        z-index: 9999;
        overflow: auto;
        white-space: break-spaces;
    }
    .body-content a.card {
        
    box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
        /* box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px; */
    }
    .blog-pager span {
        font-size: 0.7rem;
        text-transform: uppercase;
        font-weight: 600;
    }
    span.comment-actions.secondary-text {
        white-space: nowrap;
        display: flex;
        overflow: auto;
    }
    .comments .comment .comment-actions a {
        border-radius: 3px;
        display: block;
        padding: 3px 12px;
        background-color: #dfe0e0;
        transform: scale(0.8);
        
    box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
        /* box-shadow: 0 !important; */
    }
    ol#top-ra {
        padding: 0 !important;
    }
}